==========================================
Deep Learning & Art: Neural Style Transfer
==========================================

Installing dependencies-

	1. TENSORFLOW (This library is a machine learning library for developing and deploying deep learning models)

		Installation: TensorFlow can be installed using pip: 'pip install tensorflow'

	2. MATPLOTLIB (This library provides a MATLAB-like plotting library for creating 2D plots and charts)
	
		Installation: Matplotlib can be installed using pip: 'pip install matplotlib'

	3. NUMPY (scientific computing in Python, providing efficient numerical operations on arrays)

		Installation: Numpy can be installed using pip: 'pip install Numpy'

	4. PIL.Image (provides functions for manipulating and generating images)

		Installation: PIL.Image can be installed using pip: 'pip install Pillow'


Setting up and running notebook-
	1. For running the notebook, you'll require a dataset. An example dataset I have shared which can be 	  	   accessed by the google drive link below-

		" https://drive.google.com/drive/folders/1itxe3YwOhKyL_a1c70-YBqwFImMXbN0Y?usp=sharing "


	2. Run this notebook on a GPU supported runtime since the NST task is very computationally expensive.

	3. For runnning the book, make sure you are in the directory of the dataset where 'ls' in linux return the 	   following folder structure-
		
			24-11-2023  20:38    <DIR>          .
			24-11-2023  20:38    <DIR>          ..
			24-11-2023  20:38    <DIR>          content_train
			24-11-2023  20:38    <DIR>          style_train
	

	4. Now, run all of the cells in the notebooks which will run one by one, and see the style-transfer-		   goodness. :)







============================================================
Aryan Tyagi
20065025
IIT BHU











